body, html {
  font-family: roboto;
}

i {
  font-family: FontAwesome;
}

h2 {
  margin-left: 20px;
}

a {
  text-decoration: none;
}

header p {
  font-family: "Shrikhand";
  text-align: center;
  font-size: 30px;
}

footer {
  background-color: #1e1e1e;
  color: white;
  padding: 5px 0px;
}

.footer__container {
  margin-left: 30px;
}
.footer__container i {
  width: 10px;
  margin-right: 20px;
}
.footer__container p {
  line-height: 15px;
  word-break: keep-all;
}
.footer__container h4 {
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: 500;
}
.footer__container a {
  color: transparent;
  background-color: white;
  -webkit-background-clip: text;
}
.footer__container a:hover {
  background: linear-gradient(20deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 15px;
  color: white;
  border-radius: 100px;
  box-shadow: 1px 2px 8px #c1c1c1;
}
.btn:hover {
  box-shadow: 0px 3px 10px #282828;
  opacity: 0.9;
}

.fa-arrow-left {
  font-size: 35px;
  margin-left: 20px;
  position: absolute;
}

.heart {
  position: relative;
  font-size: 30px;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
}
.heart_vide {
  position: absolute;
  opacity: 1;
  transition: opacity 600ms ease;
}
.heart_plein {
  transform: scale(0);
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-stroke-width: 0px;
  transition: transform 500ms ease;
}
.heart:hover .heart_vide {
  opacity: 0;
}
.heart:hover .heart_plein {
  transform: scale(1);
}

.top-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(221, 221, 221);
  font-family: Roboto;
}
.top-info__location {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  padding: 15px 0px;
  border-top: #dbdbdb solid 2px;
}
.top-info__location input {
  border: none;
  background-color: transparent;
  margin-left: 5px;
}
.top-info__location input:focus-visible {
  border: none;
  outline: none;
}
.top-info__location i {
  margin-left: 50px;
}
.top-info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  width: 100%;
  text-align: center;
}
.top-info__container h1 {
  font-weight: 800;
  margin-top: 30px;
}
.top-info__container p {
  font-weight: 300;
}

.top-info__btn {
  margin-top: 20px;
  margin-bottom: 50px;
}

/********** FONCTIONNEMENT *****************/
.function {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.function__card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  background-color: #f4f4f4;
  margin-bottom: 20px;
  border-radius: 20px;
  transition: background-color 100ms ease;
  height: 60px;
  box-shadow: 1px 2px 8px #c1c1c1;
}
.function__card:hover {
  background-color: #f2eafb;
}
.function__card:hover i {
  color: #9356DC;
}
.function__card-number {
  position: absolute;
  text-align: center;
  font-size: 14px;
  left: -10px;
  padding-top: 5px;
  height: 20px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}
.function__card i {
  color: grey;
  margin-left: 30px;
  width: 20px;
}
.function__card p {
  margin-left: 20px;
}

@media screen and (min-width: 992px) {
  .function {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 20px;
  }
  .function__card {
    width: 30%;
    max-width: 300px;
    margin-bottom: 0px;
    justify-content: center;
  }
  .function i {
    margin-left: 0px;
  }
}
.restaurants {
  margin: 50px auto 0px;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0px auto;
}

@media screen and (min-width: 992px) {
  .restaurants__list {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1500px;
  }
}
.card {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 2px 8px #c1c1c1;
  color: black;
  transition: transform 50ms ease-in;
}
.card__img img {
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card__nouveau {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
  color: #2c9c81;
  background-color: #99E2D0;
  padding: 5px 10px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 1px 2px 8px #c1c1c1;
}

@media screen and (min-width: 992px) {
  .card {
    width: 45%;
  }
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
  line-height: 10px;
}
.card__content-description {
  font-weight: 400;
}

/*
.heart {
  font-size: 30px;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  background-image: white;
  cursor: pointer;
  transition: background-image 800ms ease;
  &:hover{
    .heart_vide{
      opacity: 0;
    }
    .heart_plein{
      background-image:linear-gradient($color-primary,$color-secondary);
      -webkit-text-stroke-width: 0px;
    }

  } */
@keyframes animation-card {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.image_presentation {
  width: 100%;
  height: 250px;
}
.image_presentation img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  min-height: 350px;
  background-position: top;
}

.presentation_restaurant {
  padding: 0px 20px;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
}

.carte {
  position: relative;
  padding: 30px 20px;
  background-color: #f4f4f4;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.carte_top {
  display: flex;
  justify-content: space-between;
}
.carte_top__name {
  font-family: "Shrikhand";
  font-size: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu_repas {
  margin-top: 30px;
}
.menu_repas__name {
  text-transform: uppercase;
}
.menu_repas__name::after {
  content: ".";
  border-bottom: 3px solid #99E2D0;
  width: 30px;
  display: block;
  font-size: 0px;
}

@media screen and (min-width: 992px) {
  .menu {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .menu_repas {
    width: 30%;
    max-width: 500px;
  }
}
.choix_plat {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 15px;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 2px 8px #c1c1c1;
  font-weight: bold;
  transition: transform 300ms ease;
  position: relative;
  overflow: hidden;
  animation: animation-card 500ms both;
  /*   &__complement{
         display: flex;
         align-items: center;
         justify-content: space-between;
         font-weight: 500;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;

     }*/
}
.choix_plat--1 {
  animation-delay: 50ms;
}
.choix_plat--2 {
  animation-delay: 100ms;
}
.choix_plat--3 {
  animation-delay: 150ms;
}
.choix_plat--4 {
  animation-delay: 200ms;
}
.choix_plat--5 {
  animation-delay: 250ms;
}
.choix_plat--6 {
  animation-delay: 300ms;
}
.choix_plat--7 {
  animation-delay: 350ms;
}
.choix_plat--8 {
  animation-delay: 400ms;
}
.choix_plat--9 {
  animation-delay: 450ms;
}
.choix_plat__principal {
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.choix_plat__principal p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.choix_plat__check-square {
  display: flex;
  position: absolute;
  height: 90px;
  width: 80px;
  background-color: #99E2D0;
  right: 0px;
  top: 0px;
  transform: translateX(100px);
  transition: transform 300ms ease;
}
.choix_plat__complement_price {
  transition: all 300ms ease;
  display: block;
}
.choix_plat:hover .choix_plat__complement_price {
  transform: translateX(-80px);
  padding-left: 90px;
}
.choix_plat:hover .check {
  animation: check-rotate 300ms both alternate ease;
}
.choix_plat:hover .choix_plat__check-square {
  transform: translateX(0px);
}
.check {
  position: absolute;
  font-size: 35px;
  top: 27px;
  left: 23px;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #99E2D0;
  background-color: white;
}

@keyframes check-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn_explorer {
  margin: 50px auto;
}
.btn_explorer:hover {
  box-shadow: 0px 3px 10px #282828;
}

/*.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    height: 100vh;
    opacity: 1;
    inset: 0;
    background-image:linear-gradient($color-primary,$color-secondary);
    z-index: 5;
    animation : bg 1000ms 2000ms forwards ease-in;
    & div{
        font-family: $font-logo-title;
        font-size: $size-logo + 50px;
        color: transparent;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 2px;
    }
}

@keyframes oh{
    0%{
      transform:translateX(-2000px)
    }
  }
  @keyframes my{
    0%{
      transform:translateY(2000px)
    }
  }
  @keyframes food{
    0%{
      transform:translateX(2000px) ;
    }
  }
  .oh{
    animation: oh 1500ms linear both;
  }

  .my{
    animation: my 1000ms 500ms linear both;
  }
  .food{
    animation: food 500ms 1000ms linear both;
  }

  @keyframes bg{

    100%{
    transform: translateY(-3000px) ;
    opacity: 0;
    }
  }*/
/* .loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    height: 100vh;
    opacity: 1;
    inset: 0;
    background-image:linear-gradient($color-primary,$color-secondary);
    &_lettre{
        font-family: $font-logo-title;
        font-size: $size-logo + 50px;
        color: transparent;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 2px;
        margin-left: 10px;
        &-0{
          display: inline-block;
          overflow: hidden;
          border: 1px solid black;
        }
        &-2{
          transform: translateX(-100px);
        }
    }    
}*/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  opacity: 1;
  inset: 0;
  z-index: 5;
  background-image: linear-gradient(#9356DC, #FF79DA);
  animation: bg 1000ms 2500ms forwards ease-in;
}
.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  overflow: hidden;
}
.loader_lettre {
  font-family: "Shrikhand";
  font-size: 80px;
}
.loader_lettre-0 {
  animation: lettre_o 800ms 200ms cubic-bezier(0.39, 0.98, 0.08, 0.92) both;
}
.loader_lettre-1 {
  transform: translateX(-150px);
  animation: lettre_X 1000ms 1000ms forwards;
}
.loader_lettre-2 {
  transform: translateX(-300px);
  animation: lettre_X 1000ms 1000ms forwards;
}
.loader_lettre-3 {
  transform: translateX(-450px);
  animation: lettre_X 1000ms 1000ms forwards;
}
.loader_lettre-4 {
  transform: translateX(-600px);
  animation: lettre_X 1000ms 1000ms forwards;
}
.loader_lettre-5 {
  transform: translateX(-750px);
  animation: lettre_X 1000ms 1000ms forwards;
}
.loader_lettre-6 {
  transform: translateX(-900px);
  animation: lettre_X 1000ms 1000ms forwards;
}
.loader_lettre-7 {
  transform: translateX(-1050px);
  animation: lettre_X 1000ms 1000ms forwards;
}

@keyframes lettre_o {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes lettre_X {
  100% {
    transform: translateX(0px);
  }
}
@keyframes bg {
  100% {
    transform: translateY(-3000px);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
