@import "./utils/variables";
@import "./base/font";
@import "./layout/header";
@import "./components/bouton";

.top-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $bg-color;
    font-family: $font-txt;
    &__location{
        display: flex;
        justify-content: center;
        align-items: baseline;
        background-color: $bg-color;
        width: 100%;
        padding: 15px 0px;
        border-top: darken($color: $bg-color, $amount: 10) solid 2px;
        & .location{
            margin-left: 10px;
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: lighten($color: $bg-color, $amount: 9);
        width: 100%;
        h1{
            font-weight: 800;
        }
        p{
            font-weight: 300;
        }
    }
}
.top-info__btn{
    margin-bottom: 20px;
}