.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    background: linear-gradient($color-secondary,$color-primary );
    font-size: $size-txt;
    color: $color-white;
    border-radius: 200px*0.5;
    @include bg-shadow;
    &:hover{
        @include bg-shadow-strong;
        opacity: $opacity-main-btn;
      }
}