.heart {
    position: relative;
    font-size: 30px;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    cursor: pointer;
    &_vide{
      position: absolute;
      opacity: 1;
      transition: opacity 600ms  ease;
    }
    &_plein{
      transform: scale(0);
      background-image:linear-gradient($color-primary,$color-secondary);
      -webkit-text-stroke-width: 0px;
      transition: transform 500ms ease;
    }
    &:hover{
      .heart_vide{
        opacity: 0;
      }
      .heart_plein{
        transform: scale(1);
      }
    }
 }
