$font_logo_titre: 'Shrikhand', cursive;
$font-txt: Roboto;

body,html {
    font-family: roboto;
}

i {
    font-family: FontAwesome;
}

h2 {
    margin-left: $marg-h2;
  }

a{
    text-decoration: none;
}