.top-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $bg-color-dark;
    font-family: $font-txt;
    &__location {
      display: flex;
      justify-content: center;
      align-items: baseline;
      width: 100%;
      padding: 15px 0px;
      border-top: darken($color: $bg-color, $amount: 10) solid 2px;
      & input{
        border: none;
        background-color: transparent;
        margin-left: 5px;
        &:focus-visible{
          border: none;
          outline:  none;
        }
      }
      & i{
        margin-left: 50px;
      }
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $bg-color;
      width: 100%;
      text-align: center;
      h1 {
        font-weight: 800;
        margin-top: 30px;
      }
      p {
        font-weight: 300;
      }
    }
  }
  .top-info__btn {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  /********** FONCTIONNEMENT *****************/
  
  .function {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__card {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 90%;
      background-color: $bg-color;
      margin-bottom: 20px;
      border-radius: $brd-rad-card;
      transition: background-color 100ms ease;
      height: 60px;
      @include bg-shadow;
      &:hover {
        background-color: lighten($color: $color-primary, $amount: 35);
        i {
          color: $color-primary;
        }
      }
      &-number {
        position: absolute;
        text-align: center;
        font-size: 14px;
        left: -10px;
        padding-top: 5px;
        height: 20px;
        width: 25px;
        border-radius: 50%;
        background-color: $color-primary;
        color: $color-white;
      }
      i {
        color: grey;
        margin-left: 30px;
        width: 20px;
      }
      p{
        margin-left: 20px;
      
      }
    }
  }
  @media screen and (min-width:$break-point-desktop){
    .function{
      flex-direction: row;
      justify-content: space-evenly; 
      margin: $marg-card;
      &__card{
        width: 30%;
        max-width: 300px;
        margin-bottom: 0px;
        justify-content: center;
      }
      & i {
        margin-left: 0px;
      }
    }
  }
  // RESTAURANTS //
  
  .restaurants {
    margin: 50px auto 0px;
    display: flex;
    flex-direction: column;
    background-color: $bg-color;
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin: 0px auto;
    }
  }

@media screen and (min-width:$break-point-desktop){
  .restaurants{
    &__list{
    flex-direction: row;
    flex-wrap: wrap;
    max-width: $max-width-desktop;
    }   
  }
}
.card {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  border-radius: $brd-rad-card;
  background-color: $color-white;
  @include bg-shadow;
  color: black;
  transition:  transform 50ms ease-in;
  &__img {
    img {
      position: relative;
      width: 100%;  
      height: 200px;
      object-fit: cover;
      }
    }
    &__nouveau {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 15px;
      color: darken($color: $color-tertiary, $amount: 35);
      background-color: $color-tertiary;
      padding: 5px 10px;
    }
    &:hover{
      transform: scale(1.05);
      @include bg-shadow;
    }
  }
  
  @media screen and (min-width:$break-point-desktop){
    .card{
      width: 45%;
       
    }
  }
  .card__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $marg-card;
    line-height: 10px;
    &-description{
      font-weight: 400;
    }
  }
  /*
  .heart {
    font-size: 30px;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    background-image: white;
    cursor: pointer;
    transition: background-image 800ms ease;
    &:hover{
      .heart_vide{
        opacity: 0;
      }
      .heart_plein{
        background-image:linear-gradient($color-primary,$color-secondary);
        -webkit-text-stroke-width: 0px;
      }
      
    } */
@keyframes animation-card {
  0%{
    transform: translateY(20px);
    opacity: 0;
  }

  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}