.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    height: 100vh;
    opacity: 1;
    inset: 0;
    background-image:linear-gradient($color-primary,$color-secondary);
    z-index: 5;
    animation : bg 1500ms 2000ms forwards ease-in;
    & div{
        font-family: $font-logo-title;
        font-size: $size-logo + 50px;
        color: transparent;
        -webkit-background-clip: text;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    background-image: $color-tertiary;
    }
}

@keyframes oh{
    0%{
      transform:translateX(-2000px)
    }
  }
  @keyframes my{
    0%{
      transform:translateY(2000px)
    }
  }
  @keyframes food{
    0%{
      transform:translateX(2000px)
    }
  }
  .oh{
    animation: oh 1500ms linear alternate;
  }
  
  .my{
    animation: my 1000ms 500ms both;
  }
  .food{
    animation: food 1500ms linear  ;
  }
  
  @keyframes bg{
    0%{
    background: linear-gradient(10deg, #9356DC, #FF79DA);

    }
    100%{
    background: linear-gradient(10deg, #9356DC, #FF79DA);
    transform: translateY(3000px) ;
    opacity: 0;

    }
  }