/*.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    height: 100vh;
    opacity: 1;
    inset: 0;
    background-image:linear-gradient($color-primary,$color-secondary);
    z-index: 5;
    animation : bg 1000ms 2000ms forwards ease-in;
    & div{
        font-family: $font-logo-title;
        font-size: $size-logo + 50px;
        color: transparent;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 2px;
    }
}

@keyframes oh{
    0%{
      transform:translateX(-2000px)
    }
  }
  @keyframes my{
    0%{
      transform:translateY(2000px)
    }
  }
  @keyframes food{
    0%{
      transform:translateX(2000px) ;
    }
  }
  .oh{
    animation: oh 1500ms linear both;
  }
  
  .my{
    animation: my 1500ms linear both;
  }
  .food{
    animation: food 1500ms linear  ;
  }
  
  @keyframes bg{

    100%{
    transform: translateY(-3000px) ;
    opacity: 0;
    }
  }*/