
.image_presentation{
    width: 100%;
    height: 250px;
    & img{
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        min-height: 350px;       
        background-position: top;
    }
}

.presentation_restaurant{
    
    padding: $marg-card;
    border-radius: 2rem 2rem 0 0;
    overflow: hidden;
    
}
.carte{
    position: relative;
    padding: 30px 20px;
    background-color: $bg-color;
    border-top-left-radius: $brd-rad-menu;
    border-top-right-radius: $brd-rad-menu;
    
}
.carte_top{ 
        display: flex;
        justify-content: space-between;
        &__name{
            font-family: $font-logo-title;
            font-size: 30px;
        }
}

.menu{
    display: flex;
    flex-direction: column;
    &_repas{
        margin-top: 30px;
        &__name{
            text-transform: uppercase;
          &::after{
            content: ".";
            border-bottom: 3px solid #99E2D0;
            width: 30px;
            display: block;
            font-size: 0px;          
        }
        }
    }
}
@media screen and (min-width:$break-point-desktop){
    .menu{
        flex-direction: row;
        justify-content: space-evenly;
        &_repas{
            width: 30%;
            max-width: 500px;
        }
    }
    
}
.choix_plat{
    padding: 15px;
    height: 50px;
    margin-top: 20px;
    background-color: $color-white;
    border-radius: $brd-rad-card;
    @include bg-shadow;
    font-weight: bold;
    transition: transform 300ms ease;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  animation: animation-card 500ms both;
    @for $i from 1 to 10 {
        &--#{$i}{
            animation-delay: 50ms * $i
        } 
    }
    &__principal, p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__check-square{
        display: flex;
        position: absolute;
        height: 80px;
        width: 80px;
        background-color: $color-tertiary;
        right: 0px;
        top: 0px;
        transform: translateX(100px);
        transition: transform 300ms ease;
    }
    &__complement_price{
        transform: translateX(0px);
        transition: transform 300ms ease;
        display: block;
        margin-left: 5px;
    }
    &:hover{
        .choix_plat__complement_price{ //prix
            transform: translateX(-80px);
        }
        .check{
            animation: check-rotate 300ms both alternate ease ;
        }
        .choix_plat__check-square{
            transform: translateX(0px);
        }
    }
    &__complement{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        p{
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    
}
.check{
    position: absolute;
    font-size: 35px;
    top: 22px;
    left: 25px;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $color-tertiary;
    background-color: white;
}
@keyframes check-rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.btn_explorer{
    margin: 50px auto;
    &:hover{
        @include bg-shadow-strong;}
}

