.image_presentation{
    width: 100%;
    height: 250px;
    & img{
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        min-height: 250px;
    }
}
.bg{
    background-color: red;
    width: 100%;
    position: relative;
}
.presentation_restaurant{
    background-color: $bg-color;
    padding: $marg-card;
    border-radius: 2rem 2rem 0 0;
    overflow: hidden;
}

.carte_top{ 
        display: flex;
        justify-content: space-between;
        &__name{
            font-family: $font-logo-title;
            font-size: 30px;
        }
}

.menu{
    display: flex;
    flex-direction: column;
    &_repas{
        margin-top: 30px;
        &__name{
            text-transform: uppercase;
            border-bottom: $color-tertiary 2px solid;
        }
    }
}

.choix_plat{
    padding: 15px;
    height: 50px;
    margin-top: 20px;
    background-color: $color-white;
    border-radius: $brd-rad-card;
    @include bg-shadow;
    font-weight: bold;
    transition: transform 300ms ease;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        width: 80px;
        position: absolute;
        top: 0px;
        height: 80px;
        right: -100px;
        transform: translateX(0px);
        background-color: $color-tertiary;
        transition: transform 300ms ease;
    }
    &:hover{
        &::after{    
            transform: translateX(-100px);       
        }
    }
   
    &__complement{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        &_price{

        }
    }
}

