// Couleurs
$color-primary : #9356DC ;
$color-secondary: #FF79DA ;
$color-tertiary:#99E2D0;
$color-white: white;
$bg-color: #f4f4f4;
$bg-color-dark:rgb(221, 221, 221);

// Tailles
$size-logo : 30px;
$size-txt : 15px;

// Polices
$font-logo-title: "Shrikhand";
$font-txt : 'Roboto', sans-serif;

// Margin

$marg-card: 0px 20px;

// Border radius

$brd-rad-card : 20px;
